@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body{
    font-family: "Inter";
}
@layer base{
    .container{
        @apply max-w-[1200px] w-full mx-auto my-0;
    }      
    .li-header{
        @apply font-semibold text-xl mb-6
    }

}

.purple-w{
    width: calc(40% + 50px);
}
.change {
    cursor: pointer;
    border: 1px solid #555;
    border-radius: 40%;
    width: 20px;
    text-align: center;
    padding: 5px;
    margin-left: 8px;
}
.dark{
    background-color: #222;
    color: #e6e6e6 !important;
    *{
        background-color: #222;
    }
}

i{
    width: 24px;
    height: 24px;
    color: inherit;
}
.fire-icon::before {
    content: ""; /* Path to your fire icon image */
    position: absolute;
    top: 10px; /* Adjust based on your needs */
    left: 10px; /* Adjust based on your needs */
    width: 40px; /* Adjust size as needed */
    height: 40px; /* Adjust size as needed */
    background-color: #ffffff9d;
    border-radius: 50px;
    filter: blur(1px);
    z-index: 1;
}
.fire-icon::after {
    content: "🔥"; /* Path to your fire icon image */
    position: absolute;
    top: 20px; /* Adjust based on your needs */
    left: 20px; /* Adjust based on your needs */
    width: 40px; /* Adjust size as needed */
    height: 40px; /* Adjust size as needed */
    /* background-color: white; */
    /* filter: blur(8px); */
    z-index: 1;
}
